.sticky-compare-box {
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  background-color: var(--clr-light);
  padding: 2rem 1rem;
  box-shadow: var(--box-shadow-sticky);
  text-align: center;
  z-index: 100;
  transition: all 0.5s ease-in;
}

.sticky-compare-box.visible {
  bottom: 0;
}
